<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">YouBooking</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLinkActive="active" routerLink="/hotels">Hotels</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" href="#">Reservations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logoutClicked()" >Logout</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 d-flex flex-row ms-5">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <span>
    <small>{{fullName|titlecase}}</small>:
    <small class="text-success">{{role|titlecase}}</small>

    </span>

  </div>
</nav>
