<div class="container-fluid">
  <div class="row">
    <form class="mt-5  col-lg-3 offset-lg-4 col-12 offset-0" >
      <h2>Sign up to</h2>

      <div class="form-outline">
        <label class="form-label" for="{{ROLE_KEY}}">Create account as :</label>
        <select name="" id="">
          <!-- list possible roles-->
        </select>
        <input type="email" id="{{FIRST_NAME_KEY}}" class="form-control" name="{{FIRST_NAME_KEY}}"/>
      </div>
      <!-- First name input -->
      <div class="form-outline">
        <label class="form-label" for="{{FIRST_NAME_KEY}}">first name:</label>
        <input type="email" id="{{FIRST_NAME_KEY}}" class="form-control" name="{{FIRST_NAME_KEY}}"/>
      </div>
      <!-- Last name input -->
      <div class="form-outline">
        <label class="form-label" for="{{LAST_NAME_KEY}}">last name:</label>
        <input type="email" id="{{LAST_NAME_KEY}}" class="form-control" name="{{LAST_NAME_KEY}}"/>
      </div>
      <!-- Email input -->
      <div class="form-outline">
        <label class="form-label" for="{{EMAIL_KEY}}">Email address</label>
        <input type="email" id="{{EMAIL_KEY}}" class="form-control" name="{{EMAIL_KEY}}" />
      </div>
      <!-- Password input -->
      <div class="form-outline ">
        <label class="form-label" for="{{PASSWORD_KEY}}">Password</label>
        <input type="password" id="{{PASSWORD_KEY}}" class="form-control" name="{{PASSWORD_KEY}}"/>
      </div>
      <!-- Submit button -->
      <button type="button" class="btn btn-primary btn-block mb-4 w-100">Sign up</button>
    </form>
  </div>
</div>
