<div class="container-fluid">

  <div class="row">
    <form class="mt-5  col-lg-3 offset-lg-4 col-12 offset-0" [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
      <h3 class="text-center my-5 " >Register to YouBooking</h3>
      <div class="form-outline">
        <label class="form-label" for="{{ROLE_KEY}}">Create account as :</label>
        <select class="form-select" formControlName="{{ROLE_KEY}}" id="{{ROLE_KEY}}" >
          <!-- list possible roles-->
          <option *ngFor="let role of roles" [value]="role">
            {{role}}
          </option>
        </select>

      </div>
      <!-- First name input -->
      <div class="form-outline">
        <label class="form-label" for="{{FIRST_NAME_KEY}}">first name:</label>
        <input type="text"
               id="{{FIRST_NAME_KEY}}"
               class="form-control"
               [formControlName]="FIRST_NAME_KEY"
        />
      </div>
      <!-- Last name input -->
      <div class="form-outline">
        <label class="form-label" for="{{LAST_NAME_KEY}}">last name:</label>
        <input type="text"
               id="{{LAST_NAME_KEY}}"
               class="form-control"
               [formControlName]="LAST_NAME_KEY"
        />
      </div>
      <!-- Email input -->
      <div class="form-outline">
        <label class="form-label" for="{{EMAIL_KEY}}">Email address</label>
        <input type="email"
               id="{{EMAIL_KEY}}" class="form-control" [formControlName]="EMAIL_KEY"/>
      </div>
      <!-- Password input -->
      <div class="form-outline ">
        <label class="form-label" for="{{PASSWORD_KEY}}">Password</label>
        <input type="password"
               id="{{PASSWORD_KEY}}" class="form-control" [formControlName]="PASSWORD_KEY"/>
      </div>
      <button type="submit" class="btn btn-primary btn-block mb-4 w-100 my-2" [disabled]="registerForm.invalid" >Sign up</button>
      <div class="col">
        Already have an account ? <a routerLink="/login" class="w-100 my-1">login</a>
      </div>

    </form>
  </div>
</div>
